.container-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 370px;
    margin: 135px auto 0;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
  }
  #prod1{
    height: 250px;
  }
  @media screen and (max-width: 700px){
    .container-slider {
      margin: 100px 10px 0;
    }
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 100%;
    object-fit: cover;
  
  }
  #prod{
    width: 96%;
    object-fit: cover;
   }
   #prod img{
    
    width: 100%;
    
   }
  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 30px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 30px;
    transform: translateY(-60%);
  }
  
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid pink;
    margin: 0 5px;
    background: rgb(247, 129, 149);
    
  }
  .dot.active {
    background: rgb(244, 6, 82);
  }

  @media only screen and (max-width: 600px) {
    .container-slider {
      width: 100%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto 0;
      position: relative;
      overflow: hidden;
      /* border: 1px solid blue; */
    }
    #prod1{
      width: 100%;
      height: 65px;
      padding: 10px;
      
    }

    #prod{
      width: 95%;
      object-fit: cover;
     }
     #prod img{
     width: 100%;
    }

     .btn-slide {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #f1f1f1;
      border: 1px solid rgba(34, 34, 34, 0.287);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    .btn-slide img {
      width: 10px;
      height: 10px;
      pointer-events: none;
    }
    .prev {
      top: 50%;
      left: 2px;
      transform: translateY(-60%);
      background-color: rgb(255, 255, 255,0.4);
    }
    .next {
      top: 50%;
      right: 2px;
      transform: translateY(-60%);
      background-color: rgb(255, 255, 255,0.4);
    }

 
     .container-dots {
      position: absolute;
      left: 50%;
      top: 77px;
      transform: translateX(-50%);
      display: flex;
      
    }
    .dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      border: 1px solid pink;
      margin: 0 5px;
      background: rgb(247, 129, 149);
      
    }
  }